@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $primary-font-color;
  font-size: $font-size-unit-10 * 1.6;
  line-height: 1.5;
}

h1,
h2 {
  font-weight: $font-weight-heading;
}

.spacer {
  width: 100%;
  height: 60px;
}

.container {
  width: 100%;
}

.card-image {
  & img {
    @include image;
    height: 100%;
  }
}

.card-text {
  padding: 3% 5% 5% 5%;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: background(dark);
}
