@mixin section-grid($min, $padding, $grid-gap, $min-height) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: $grid-gap;
  min-height: $min-height;
  padding: $padding;
}

@mixin image {
  object-fit: cover;
  width: 100%;
  display: block;
}

@mixin header-grid($z-index, $height, $background) {
  display: grid;
  grid-template-columns: 100%;
  position: fixed;
  z-index: $z-index;
  width: 100%;
  height: $height;
  background-color: $background;
}
